<div nz-row>
    <div nz-col class="container" style=" width: 100%;">
        <div nz-row>
            <div nz-col *ngFor="let book of books">
                <div class="card">
                    <div nz-row nzJustify="end" style="padding: 3px;">
                        <i nz-icon nzType="close" nzTheme="outline" (click)="showConfirm(book['AMAZON_INDEX'])" style="font-size: 17.5px; color: red;"></i>
                    </div>
                    <div nz-row nzAlign="middle" style="height: 300px;">
                        <img [src]="book.IMAGE_URL" alt="Avatar" class="ava-img">
                    </div>
                    <div class="container-card">
                        <h4><b>{{book['TITLE'].length > 30 ?book['TITLE'].substring(0, 30) + '...':book['TITLE']}}</b></h4>
                        <p>Author: {{book['CATEGORY_NAME']}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>